@import "tailwindcss";

html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(0, 155, 198) white;
}

.text-over-flow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transform: scale();
}

.animated-scale {
    animation: scale 2s linear infinite ;
}
@keyframes scale {
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(1.3);
    }
    01%{
        transform: scale(1);
    }
}